<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURE CONNECT</title>
    <link rel="stylesheet" href="/static/CSS/styles.css">
</head>
<body>
    <img id="doctbc" src="/static/images/doctbc.jpg">
    <header>
        <nav>
            <div class="logo">
                <img src="medic-logo.png" alt="Medic Logo">
                <span>CURE CONNECT</span>
            </div>
            <div class="nav-right">
                <div class="search-containers">
                    <input type="text" placeholder="Search..." class="search-bar">
                    <button class="search-icons">


                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg> -->
                    </button>
                </div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li> <!-- Link to About Page -->
                    <li><a href="/service">Service</a></li> <!-- Link to Service Page -->
                    <li><a href="/doctor">Doctor</a></li> <!-- Link to Doctor Page -->
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="hero">
            
            <div class="card">
                <img src="/static/images/vipul.jpg" alt="Card Image" class="card-img" width="50%">
                <div class="card-content">
                    <h2 class="card-title">Dr vipul Agarwal</h2>
                    <a href="#" class="card-btn">Learn More</a>
                </div>
            </div>
            <div class="card">
                <img src="/static/images/suresh kumar.jpg" alt="Card Image" class="card2-img" width="50%">
                <div class="card-content">
                    <h2 class="card-title"> Dr Sumit Bochiwal</h2>
                    <a href="#" class="card-btn">Learn More</a>
                </div>
            </div>
            <div class="card">
                <img src="/static/images/vijay singh.jpg" alt="Card Image" class="card-img" width="50%">
                <div class="card-content">
                    <h2 class="card-title">Dr Suresh Kumar Yogi</h2>
                    <a href="#" class="card-btn">Learn More</a>
                </div>
        </section>
    </main>
</body>
</html>